scripts/dsl_agent/batch_cases/passthrough_success.yml
version: "0.6.0"
kind: app
app:
  name: batch_passthrough_success
  mode: workflow
  description: "Batch eval baseline with no plugin dependency."
dependencies: []
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    source: dsl-agent-batch-eval
  graph:
    viewport:
      x: 0
      y: 0
      zoom: 1
    nodes:
      - id: start
        type: start
        position:
          x: 100
          y: 100
        sourcePosition: right
        targetPosition: left
        data:
          type: start
          title: Start
          variables:
            - variable: text
              label: Text
              type: paragraph
              required: true
      - id: end
        type: end
        position:
          x: 420
          y: 100
        sourcePosition: right
        targetPosition: left
        data:
          type: end
          title: End
          outputs:
            - variable: result
              value_type: string
              value_selector:
                - start
                - text
    edges:
      - id: start-source-end-target
        source: start
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        data:
          sourceType: start
          targetType: end
          isInLoop: false
