api/workflows/en/service cpu analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: service cpu analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740036921982-source-1740104897746-target
      source: '1740036921982'
      sourceHandle: source
      target: '1740104897746'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1740104897746-source-1740015067036-target
      source: '1740104897746'
      sourceHandle: source
      target: '1740015067036'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740015029630-source-1741674653518-target
      source: '1740015029630'
      sourceHandle: source
      target: '1741674653518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1741674653518-source-1740036921982-target
      source: '1741674653518'
      sourceHandle: source
      target: '1740036921982'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: start
        type: start
        variables:
        - label: nodeName
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: nodeName
        - label: startTime(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: endTime(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
        - label: threshold
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: threshold
      height: 167
      id: '1740015029630'
      position:
        x: 30
        y: 284
      positionAbsolute:
        x: 30
        y: 284
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740104897746'
          - text
          variable: text
        selected: false
        title: End
        type: end
      height: 89
      id: '1740015067036'
      position:
        x: 1246
        y: 284
      positionAbsolute:
        x: 1246
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: threshold
        tool_configurations: {}
        tool_label: 阈值判定
        tool_name: threshold
        tool_parameters:
          metricData:
            type: mixed
            value: '{{#1741674653518.text#}}'
          metric_data:
            type: mixed
            value: '{{#1740015062887.text#}}'
          threshold:
            type: mixed
            value: '{{#1740015029630.threshold#}}'
        type: tool
      height: 53
      id: '1740036921982'
      position:
        x: 638
        y: 284
      positionAbsolute:
        x: 638
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e4014d51-74b3-4178-b332-e6ba6f3ac429
          role: system
          text: ''
        - id: 09d0cef1-48c4-438a-8104-4cf1ef50c3b5
          role: user
          text: 'This is the indicator time point when the CPU of the {{#1740015029630.nodeName#}}
            machine exceeds the threshold

            {{#1740036921982.text#}}

            Please analyze it'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1740104897746'
      position:
        x: 943.4285714285713
        y: 284
      positionAbsolute:
        x: 943.4285714285713
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Prometheus job name for host metrics
            ja_JP: Prometheus job name for host metrics
            pt_BR: Prometheus job name for host metrics
            zh_Hans: Prometheus任务名称（宿主机指标）
          label:
            en_US: Prometheus Job
            ja_JP: Prometheus Job
            pt_BR: Tarefa Prometheus
            zh_Hans: Prometheus任务
          llm_description: Unique identifier for metrics scrape job
          max: null
          min: null
          name: job
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Host node identifier
            ja_JP: Host node identifier
            pt_BR: Host node identifier
            zh_Hans: 宿主机节点标识
          label:
            en_US: Host Node
            ja_JP: Host Node
            pt_BR: Host Node
            zh_Hans: 宿主机节点
          llm_description: Unique identifier for host node
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time
            ja_JP: Data query start time
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time
            ja_JP: Data query end time
            pt_BR: Data query end time
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query start time
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          job: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: Query host's CPU cores usage
        tool_configurations: {}
        tool_label: Query host's CPU cores usage
        tool_name: 查询宿主机宿主机CPU使用量(核数)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1740015029630'
            - endTime
          node:
            type: mixed
            value: '{{#1740015029630.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1740015029630'
            - startTime
        type: tool
      height: 53
      id: '1741674653518'
      position:
        x: 334
        y: 284
      positionAbsolute:
        x: 334
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 45
      y: 100.99999999999994
      zoom: 0.7
