api/init_data/workflows/en/Host CPU usage analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Host CPU usage analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1740104897746-source-1740015067036-target
      selected: false
      source: '1740104897746'
      sourceHandle: source
      target: '1740015067036'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740015029630-source-1742540820426-target
      selected: false
      source: '1740015029630'
      sourceHandle: source
      target: '1742540820426'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1742540820426-source-1740104897746-target
      selected: false
      source: '1742540820426'
      sourceHandle: source
      target: '1740104897746'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1740015029630-source-1742549684668-target
      source: '1740015029630'
      sourceHandle: source
      target: '1742549684668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1742549684668-false-1742549705555-target
      source: '1742549684668'
      sourceHandle: 'false'
      target: '1742549705555'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1742549684668-true-1742549701553-target
      source: '1742549684668'
      sourceHandle: 'true'
      target: '1742549701553'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1742549701553-source-1742549728352-target
      source: '1742549701553'
      sourceHandle: source
      target: '1742549728352'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1742549705555-source-1742549728352-target
      source: '1742549705555'
      sourceHandle: source
      target: '1742549728352'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1742549728352-source-1740104897746-target
      selected: false
      source: '1742549728352'
      sourceHandle: source
      target: '1740104897746'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: start
        type: start
        variables:
        - label: Node name
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: nodeName
        - label: Query start time(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: Query end time(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
        - label: Prometheus Job
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: prometheus_job
        - label: Container runtime type(containered or docker)
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: runtime_type
      height: 193
      id: '1740015029630'
      position:
        x: -78.57142857142856
        y: 284
      positionAbsolute:
        x: -78.57142857142856
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740104897746'
          - text
          variable: text
        selected: false
        title: end
        type: end
      height: 89
      id: '1740015067036'
      position:
        x: 1448.1754605102717
        y: 290.5639905999831
      positionAbsolute:
        x: 1448.1754605102717
        y: 290.5639905999831
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e4014d51-74b3-4178-b332-e6ba6f3ac429
          role: system
          text: You function as an intelligent observability assistant with domain
            expertise in log/metric/trace correlation analysis. Your primary task
            is to methodically examine provided telemetry data and determine if operational
            abnormalities requiring intervention exist.
        - id: 09d0cef1-48c4-438a-8104-4cf1ef50c3b5
          role: user
          text: "# Purpose  \nAnalyze the CPU usage of host **{{#1740015029630.nodeName#}}**\
            \ based on metric data.  \n\n# Analysis Process  \n1. **Review Raw Data**\
            \  \n   Examine the host CPU usage metric **{{#1742540820426.text#}}**\
            \ and the CPU usage rate of containers within the cluster **{{#1742549728352.output#}}**.\
            \  \n2. **Analyze Trend of Related Metrics**  \n   First, extract containers\
            \ running on the host **{{#1740015029630.nodeName#}}**, then analyze anomalies\
            \ in the host’s CPU usage during the same period. Combine this with container\
            \ CPU usage data to identify potential root causes of host CPU anomalies.\
            \  \n3. **Conclusion**  \n   Highlight abrupt changes in abnormal time\
            \ periods and possible causes based on the analysis. For example:  \n\
            \   *\"CPU anomalies were detected in host **{{#1740015029630.nodeName#}}**\
            \ from [start time] to [end time]. Potential cause: [specific reason].\"\
            *  \n\n# Output  \nAnalysis of CPU Usage for Host **{{#1740015029630.nodeName#}}**:"
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1740104897746'
      position:
        x: 1127.6065641419884
        y: 290.5639905999831
      positionAbsolute:
        x: 1127.6065641419884
        y: 290.5639905999831
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Prometheus job name for host metrics
            ja_JP: Prometheus job name for host metrics
            pt_BR: Prometheus job name for host metrics
            zh_Hans: Prometheus任务名称（宿主机指标）
          label:
            en_US: Prometheus Job
            ja_JP: Prometheus Job
            pt_BR: Tarefa Prometheus
            zh_Hans: Prometheus任务
          llm_description: Unique identifier for metrics scrape job
          max: null
          min: null
          name: job
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Host node identifier
            ja_JP: Host node identifier
            pt_BR: Host node identifier
            zh_Hans: 宿主机节点标识
          label:
            en_US: Host Node
            ja_JP: Host Node
            pt_BR: Host Node
            zh_Hans: 宿主机节点
          llm_description: Unique identifier for host node
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          job: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: Query Host CPU Usage
        tool_configurations: {}
        tool_label: 查询宿主机CPU压力
        tool_name: 查询宿主机CPU压力
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1740015029630'
            - endTime
          job:
            type: mixed
            value: '{{#1740015029630.prometheus_job#}}'
          node:
            type: mixed
            value: '{{#1740015029630.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1740015029630'
            - startTime
        type: tool
      height: 53
      id: '1742540820426'
      position:
        x: 256.0040597338176
        y: 284
      positionAbsolute:
        x: 256.0040597338176
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 69c0e031-6820-4b42-89d2-01d9d78068d0
            value: containered
            varType: string
            variable_selector:
            - '1740015029630'
            - runtime_type
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: if-else
        type: if-else
      height: 125
      id: '1742549684668'
      position:
        x: 243.50131321982803
        y: 430.38350603407144
      positionAbsolute:
        x: 243.50131321982803
        y: 430.38350603407144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: Container CPU usage
        tool_configurations: {}
        tool_label: 容器CPU使用率(使用Containerd容器运行时,按容器和Pod统计)
        tool_name: 容器CPU使用率(使用Containerd容器运行时,按容器和Pod统计)
        tool_parameters:
          cadvisor_job_name:
            type: mixed
            value: ''
          endTime:
            type: variable
            value:
            - '1740015029630'
            - endTime
          namespace:
            type: mixed
            value: ''
          startTime:
            type: variable
            value:
            - '1740015029630'
            - startTime
        type: tool
      height: 53
      id: '1742549701553'
      position:
        x: 530.6350866347744
        y: 430.38350603407144
      positionAbsolute:
        x: 530.6350866347744
        y: 430.38350603407144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: Container CPU usage
        tool_configurations: {}
        tool_label: 容器CPU使用率(使用Docker容器运行时,按Pod统计)
        tool_name: 容器CPU使用率(使用Docker容器运行时,按Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1740015029630'
            - endTime
          startTime:
            type: variable
            value:
            - '1740015029630'
            - startTime
        type: tool
      height: 53
      id: '1742549705555'
      position:
        x: 530.6350866347744
        y: 503.82644836325954
      positionAbsolute:
        x: 530.6350866347744
        y: 503.82644836325954
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: string
        selected: false
        title: summary
        type: variable-aggregator
        variables:
        - - '1742549705555'
          - text
        - - '1742549701553'
          - text
      height: 128
      id: '1742549728352'
      position:
        x: 827.9613470371493
        y: 436.67711431399334
      positionAbsolute:
        x: 827.9613470371493
        y: 436.67711431399334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 69.99234995254068
      y: 88.66600382892216
      zoom: 0.5305007982786396
