api/init_data/workflows/en/Host disk usage.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Host disk usage
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1742548736120-source-1742548763699-target
      source: '1742548736120'
      sourceHandle: source
      target: '1742548763699'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1742548763699-source-1742549014473-target
      source: '1742548763699'
      sourceHandle: source
      target: '1742549014473'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1742549014473-source-1742549028365-target
      source: '1742549014473'
      sourceHandle: source
      target: '1742549028365'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: start
        type: start
        variables:
        - label: Node name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: node_name
        - label: Query start time(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: start_time
        - label: Query end time(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: end_time
      height: 141
      id: '1742548736120'
      position:
        x: 72.08295253536267
        y: 282
      positionAbsolute:
        x: 72.08295253536267
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified host name
            ja_JP: Specified host name
            pt_BR: Specified host name
            zh_Hans: 指定的主机名
          label:
            en_US: node
            ja_JP: node
            pt_BR: node
            zh_Hans: node
          llm_description: Specified host name
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: Host disk usage
        tool_configurations: {}
        tool_label: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_name: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1742548736120'
            - end_time
          node:
            type: mixed
            value: '{{#1742548736120.node_name#}}'
          startTime:
            type: variable
            value:
            - '1742548736120'
            - start_time
        type: tool
      height: 53
      id: '1742548763699'
      position:
        x: 387
        y: 282
      positionAbsolute:
        x: 387
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 3dee2638-1569-47be-a5ac-db155a932893
          role: system
          text: You function as an intelligent observability assistant with domain
            expertise in log/metric/trace correlation analysis. Your primary task
            is to methodically examine provided telemetry data and determine if operational
            abnormalities requiring intervention exist.
        - id: d7721625-d3dc-4c04-97f1-dbd59b9bff9a
          role: user
          text: "**# Purpose**  \nAnalyze the disk usage of the host machine `{{#1742548736120.node_name#}}`\
            \ based on metric data and provide recommendations.  \n\n**# Analysis\
            \ Process**  \n1. **View Raw Data**  \n   Inspect the metric data `{{#1742548763699.text#}}`.\
            \  \n2. **Observe Trends of Related Metrics**  \n   If the user provides\
            \ a network RTT threshold, compare it with the RTT time in the metric\
            \ data. If not, select an appropriate value for comparison.  \n3. **Draw\
            \ Conclusions**  \n   Based on the comparison results, display the changes\
            \ in abrupt values during abnormal time periods. For example, \"Host `xx`\
            \ experienced an anomaly during `xx-xx`, with a sudden change from `xx`\
            \ to `xx`.\"  \n\n**# Output**  \nDisk anomaly analysis results for the\
            \ host `{{#1742548736120.node_name#}}`.  \n"
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1742549014473'
      position:
        x: 693.279103229957
        y: 282
      positionAbsolute:
        x: 693.279103229957
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1742549014473'
          - text
          variable: text
        selected: false
        title: end
        type: end
      height: 89
      id: '1742549028365'
      position:
        x: 1009.9610018154515
        y: 282
      positionAbsolute:
        x: 1009.9610018154515
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 80.31268252787203
      y: 123.95956188985468
      zoom: 0.49999999999999994
