api/init_data/workflows/en/Log analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Log analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1740647123944-source-1740550714241-target
      source: '1740647123944'
      sourceHandle: source
      target: '1740550714241'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740548057126-source-1741576642510-target
      source: '1740548057126'
      sourceHandle: source
      target: '1741576642510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1741576642510-source-1740647123944-target
      source: '1741576642510'
      sourceHandle: source
      target: '1740647123944'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: start
        type: start
        variables:
        - label: Service Name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: service
        - label: startTime(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: endTime(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
      height: 142
      id: '1740548057126'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740647123944'
          - text
          variable: text
        selected: false
        title: end
        type: end
      height: 90
      id: '1740550714241'
      position:
        x: 988
        y: 282
      positionAbsolute:
        x: 988
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0174ee2d-822e-42af-a8e6-a70c2742ef87
          role: system
          text: You are an intelligent assistant. Please help the user analyze the
            logs to check for any potential issues.
        - id: 288b0c83-5288-42fb-9ca8-ad35e37f08c0
          role: user
          text: Here are the logs from the specified time period {{#1741576642510.text#}}.
            Please help summarize the exception occurrences in the logs.
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1740647123944'
      position:
        x: 687.0472902605677
        y: 282
      positionAbsolute:
        x: 687.0472902605677
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: service name
            ja_JP: service name
            pt_BR: service name
            zh_Hans: 查询的日志服务名
          label:
            en_US: service
            ja_JP: service
            pt_BR: service
            zh_Hans: service
          llm_description: service name
          max: null
          min: null
          name: service
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time
            ja_JP: Data query start time
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time
            ja_JP: Data query end time
            pt_BR: Data query end time
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query start time
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          service: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: true
        title: query service log
        tool_configurations: {}
        tool_label: 查询服务日志数据
        tool_name: 查询服务日志数据
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1740548057126'
            - endTime
          service:
            type: mixed
            value: '{{#1740548057126.service#}}'
          startTime:
            type: variable
            value:
            - '1740548057126'
            - startTime
        type: tool
      height: 54
      id: '1741576642510'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 175.96621796218471
      y: 168.67603979204648
      zoom: 0.5074056864830986
