api/init_data/workflows/en/Service alert event.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Service alert event
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1741075304942-source-1741075309105-target
      source: '1741075304942'
      sourceHandle: source
      target: '1741075309105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1741075107082-source-1742537242313-target
      source: '1741075107082'
      sourceHandle: source
      target: '1742537242313'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1742537242313-source-1741075304942-target
      source: '1742537242313'
      sourceHandle: source
      target: '1741075304942'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: Query start time(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: Query end time(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
        - label: Service name
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: service
        - label: Endpoint
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: endpoint
      height: 167
      id: '1741075107082'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 04b40dd5-a59a-4747-a425-1d214b49d6f1
          role: system
          text: You function as an intelligent observability assistant with domain
            expertise in log/metric/trace correlation analysis. Your primary task
            is to methodically examine provided telemetry data and determine if operational
            abnormalities requiring intervention exist.
        - id: 924b8b02-39cd-4dfc-bcbc-f97752d75ac4
          role: user
          text: "# Purpose  \nAnalyze whether there are network anomalies based on\
            \ metric data.  \n\n# Analysis Process  \n1. **Review Raw Data**  \n \
            \  Examine the metric data to retrieve the downstream network Round-Trip\
            \ Time (RTT) for the Pod.  \n2. **Analyze Trend of Related Metrics** \
            \ \n   If the user has provided a network RTT threshold, compare it with\
            \ the RTT values in the metric data. If no threshold is provided, select\
            \ an appropriate value for comparison.  \n3. **Conclusion**  \n   Highlight\
            \ abrupt changes in abnormal time periods based on the comparison. For\
            \ example:  \n   *\"Network anomalies were detected in Pod **{{#pod#}}**\
            \ from [start time] to [end time], with RTT surging from [initial value]\
            \ to [final value].\"*  \n\n# Output  \nAnalysis Result of Network Anomalies\
            \ for Container"
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1741075304942'
      position:
        x: 906.7638642048873
        y: 282
      positionAbsolute:
        x: 906.7638642048873
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1741075304942'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1741075309105'
      position:
        x: 1286.0557841572368
        y: 282
      positionAbsolute:
        x: 1286.0557841572368
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: entry service
            ja_JP: entry service
            pt_BR: entry service
            zh_Hans: 拓扑入口服务名
          label:
            en_US: service
            ja_JP: service
            pt_BR: service
            zh_Hans: service
          llm_description: toplogy service name
          max: null
          min: null
          name: service
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: toplogy endpoint
            ja_JP: toplogy endpoint
            pt_BR: toplogy endpoint
            zh_Hans: 拓扑入口服务端点
          label:
            en_US: endpoint
            ja_JP: endpoint
            pt_BR: endpoint
            zh_Hans: endpoint
          llm_description: toplogy endpoint
          max: null
          min: null
          name: endpoint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          endpoint: ''
          service: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 查询入口服务告警事件
        tool_configurations: {}
        tool_label: 查询入口服务告警事件
        tool_name: alert
        tool_parameters:
          endTime:
            type: constant
            value: 1742537133321000
          endpoint:
            type: mixed
            value: '{{#1741075107082.endpoint#}}'
          service:
            type: mixed
            value: '{{#1741075107082.service#}}'
          startTime:
            type: constant
            value: 1742535932000000
        type: tool
      height: 53
      id: '1742537242313'
      position:
        x: 467.4980580862814
        y: 282
      positionAbsolute:
        x: 467.4980580862814
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -56.33206501951105
      y: 98.84575870839586
      zoom: 0.5334767533879596
