cli/test/e2e/fixtures/apps/echo-workflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: basic_auto_test
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: end
        id: 1779097154262-source-1779171097399-target
        source: '1779097154262'
        sourceHandle: source
        target: '1779171097399'
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          selected: true
          title: User Input
          type: start
          variables:
            - default: ''
              hint: ''
              label: x
              options: []
              placeholder: ''
              required: true
              type: text-input
              variable: x
            - default: ''
              hint: ''
              label: num
              options: []
              placeholder: ''
              required: true
              type: number
              variable: num
            - hint: ''
              label: enum_var
              options:
                - A
                - B
                - C
              placeholder: ''
              required: true
              type: select
              variable: enum_var
            - default: ''
              hint: ''
              label: paragraph
              max_length: 100
              options: []
              placeholder: ''
              required: true
              type: text-input
              variable: paragraph
        height: 187
        id: '1779097154262'
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - '1779097154262'
                - x
              value_type: string
              variable: x
          selected: false
          title: Output
          type: end
        height: 88
        id: '1779171097399'
        position:
          x: 752
          y: 259
        positionAbsolute:
          x: 752
          y: 259
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: 68
      y: 131
      zoom: 1
  rag_pipeline_variables: []
