cli/test/e2e/fixtures/apps/file-chat.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: DIFY_E2E_FILE_CHAT
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.48@966d88dc40611f067311c1c9839139ebc4b55bff471bc5e736dc3e828bc67b46
      version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          sourceType: start
          targetType: llm
        id: 1780453002656-llm
        source: '1780453002656'
        sourceHandle: source
        target: llm
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: llm-answer
        source: llm
        sourceHandle: source
        target: answer
        targetHandle: target
        type: custom
    nodes:
      - data:
          selected: false
          title: 用户输入
          type: start
          variables:
            - allowed_file_extensions: []
              allowed_file_types:
                - document
              allowed_file_upload_methods:
                - local_file
                - remote_url
              default: ''
              hide: false
              hint: ''
              label: file_input
              options: []
              placeholder: ''
              required: true
              type: file
              variable: file_input
        height: 109
        id: '1780453002656'
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: '{{#sys.query#}}

              {{#sys.files#}}'
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: qwen3.6-plus
            provider: langgenius/tongyi/tongyi
          prompt_template:
            - id: ebc516ad-be6b-4a78-af32-77f447305b34
              role: system
              text: 输出固定内容：""hello
          selected: false
          title: LLM
          type: llm
          vision:
            enabled: false
        height: 88
        id: llm
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          answer: '{{#llm.text#}}'
          selected: false
          title: 直接回复
          type: answer
          variables: []
        height: 103
        id: answer
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
