cli/test/e2e/fixtures/apps/file-upload.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: file_auto_test
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.48@966d88dc40611f067311c1c9839139ebc4b55bff471bc5e736dc3e828bc67b46
      version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
        id: 1779693724732-source-1779693759949-target
        source: '1779693724732'
        sourceHandle: source
        target: '1779693759949'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: end
        id: 1779693759949-source-1779693765299-target
        source: '1779693759949'
        sourceHandle: source
        target: '1779693765299'
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          selected: true
          title: 用户输入
          type: start
          variables:
            - allowed_file_extensions: []
              allowed_file_types:
                - document
              allowed_file_upload_methods:
                - local_file
                - remote_url
              default: ''
              hide: false
              hint: ''
              label: doc
              options: []
              placeholder: ''
              required: true
              type: file
              variable: doc
            - allowed_file_extensions: []
              allowed_file_types:
                - image
              allowed_file_upload_methods:
                - local_file
                - remote_url
              default: ''
              hide: false
              hint: ''
              label: picture
              options: []
              placeholder: ''
              required: true
              type: file
              variable: picture
        height: 135
        id: '1779693724732'
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: qwen3.6-plus
            provider: langgenius/tongyi/tongyi
          prompt_template:
            - id: bb929f8f-5fa9-415b-91c3-c30228488dcf
              role: system
              text: 直接输出内容:hello
          selected: false
          title: LLM
          type: llm
          vision:
            enabled: false
        height: 88
        id: '1779693759949'
        position:
          x: 382
          y: 282
        positionAbsolute:
          x: 382
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - '1779693759949'
                - text
              value_type: string
              variable: x
          selected: false
          title: 输出
          type: end
        height: 88
        id: '1779693765299'
        position:
          x: 684
          y: 282
        positionAbsolute:
          x: 684
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: 49
      y: 23
      zoom: 1
  rag_pipeline_variables: []
