cli/test/e2e/fixtures/apps/hitl-external.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: DIFY_E2E_HITL_EXTERNAL
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: human-input
        id: 1780458810652-source-1780467012278-target
        source: '1780458810652'
        sourceHandle: source
        target: '1780467012278'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: human-input
          targetType: end
        id: 1780467012278-__timeout-1780467075179-target
        source: '1780467012278'
        sourceHandle: __timeout
        target: '1780467075179'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: human-input
          targetType: end
        id: 1780467012278-action_1-1780467098495-target
        source: '1780467012278'
        sourceHandle: action_1
        target: '1780467098495'
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          selected: true
          title: 用户输入
          type: start
          variables: []
        height: 73
        id: '1780458810652'
        position:
          x: 79
          y: 282
        positionAbsolute:
          x: 79
          y: 282
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          delivery_methods:
            - config:
                body: '{{#url#}}'
                debug_mode: false
                recipients:
                  items: []
                  whole_workspace: true
                subject: TEST
              enabled: true
              id: 74e23f16-04ad-45cd-9984-55d491b47ae7
              type: email
          form_content: TEST
          inputs: []
          selected: false
          timeout: 1
          timeout_unit: hour
          title: 人工介入
          type: human-input
          user_actions:
            - button_style: default
              id: action_1
              title: Button Text 1
        height: 164
        id: '1780467012278'
        position:
          x: 382
          y: 282
        positionAbsolute:
          x: 382
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - '1780467012278'
                - __action_id
              value_type: string
              variable: X
          selected: false
          title: 输出
          type: end
        height: 88
        id: '1780467075179'
        position:
          x: 684
          y: 282
        positionAbsolute:
          x: 684
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - sys
                - user_id
              value_type: string
              variable: X
          selected: false
          title: 输出 2
          type: end
        height: 89
        id: '1780467098495'
        position:
          x: 684
          y: 409
        positionAbsolute:
          x: 684
          y: 409
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: -153
      y: -2
      zoom: 1
  rag_pipeline_variables: []
