cli/test/e2e/fixtures/apps/hitl-main.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: hitl_auto_test
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: human-input
        id: 1779694031897-source-1779786788846-target
        source: '1779694031897'
        sourceHandle: source
        target: '1779786788846'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: human-input
          targetType: end
        id: 1779786788846-__timeout-1779786805561-target
        source: '1779786788846'
        sourceHandle: __timeout
        target: '1779786805561'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: human-input
          targetType: end
        id: 1779786788846-action_2-1780468501391-target
        source: '1779786788846'
        sourceHandle: action_2
        target: '1780468501391'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: human-input
          targetType: end
        id: 1779786788846-action_3-1780468504241-target
        source: '1779786788846'
        sourceHandle: action_3
        target: '1780468504241'
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          selected: false
          title: 用户输入
          type: start
          variables: []
        height: 73
        id: '1779694031897'
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          delivery_methods:
            - enabled: true
              id: d3e67c3d-1779-478a-af2e-17d6da044175
              type: webapp
          form_content: ''
          inputs: []
          selected: false
          timeout: 3
          timeout_unit: day
          title: 人工介入
          type: human-input
          user_actions:
            - button_style: default
              id: action_1
              title: Button Text 1
            - button_style: default
              id: action_2
              title: Button Text 2
            - button_style: default
              id: action_3
              title: Button Text 3
        height: 216
        id: '1779786788846'
        position:
          x: 382
          y: 282
        positionAbsolute:
          x: 382
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - '1779786788846'
                - __action_id
              value_type: string
              variable: x
          selected: false
          title: 输出
          type: end
        height: 88
        id: '1779786805561'
        position:
          x: 685
          y: 282
        positionAbsolute:
          x: 685
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - '1779786788846'
                - __action_id
              value_type: string
              variable: x
          selected: false
          title: 输出 2
          type: end
        height: 88
        id: '1780468501391'
        position:
          x: 685
          y: 409
        positionAbsolute:
          x: 685
          y: 409
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          outputs:
            - value_selector:
                - '1779786788846'
                - __action_id
              value_type: string
              variable: x
          selected: true
          title: 输出 3
          type: end
        height: 88
        id: '1780468504241'
        position:
          x: 685
          y: 500
        positionAbsolute:
          x: 685
          y: 500
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: 149
      y: 87
      zoom: 1
  rag_pipeline_variables: []
