api/tests/fixtures/workflow/basic_chatflow.yml
app:
  description: Simple chatflow contains only 1 LLM node.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: basic_chatflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: 1755189262236-llm
      source: '1755189262236'
      sourceHandle: source
      target: llm
      targetHandle: target
    - id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
    nodes:
    - data:
        desc: ''
        title: Start
        type: start
        variables: []
      id: '1755189262236'
      position:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        title: Answer
        type: answer
        variables: []
      id: answer
      position:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
