api/tests/fixtures/workflow/http_request_with_json_tool_workflow.yml
app:
  description: 'Workflow with HTTP Request and Tool nodes for testing auto-mock'
  icon: 🔧
  icon_background: '#FFEAD5'
  mode: workflow
  name: http-tool-workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: start-to-http
      source: 'start_node'
      sourceHandle: source
      target: 'http_node'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: http-to-tool
      source: 'http_node'
      sourceHandle: source
      target: 'tool_node'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: tool-to-end
      source: 'tool_node'
      sourceHandle: source
      target: 'end_node'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: url
          max_length: null
          options: []
          required: true
          type: text-input
          variable: url
      height: 90
      id: 'start_node'
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'HTTP Request Node for testing'
        title: HTTP Request
        type: http-request
        method: GET
        url: '{{#start_node.url#}}'
        authorization:
          type: no-auth
        headers: ''
        params: ''
        body:
          type: none
          data: ''
        timeout:
          connect: 10
          read: 30
          write: 30
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: 'http_node'
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Tool Node for testing'
        title: Tool
        type: tool
        provider_id: 'builtin'
        provider_type: 'builtin'
        provider_name: 'Builtin Tools'
        tool_name: 'json_parse'
        tool_label: 'JSON Parse'
        tool_configurations: {}
        tool_parameters:
          json_string: '{{#http_node.body#}}'
      height: 90
      id: 'tool_node'
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - 'http_node'
          - status_code
          value_type: number
          variable: status_code
        - value_selector:
          - 'tool_node'
          - result
          value_type: object
          variable: parsed_data
        selected: false
        title: End
        type: end
      height: 90
      id: 'end_node'
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7