api/tests/fixtures/workflow/loop_contains_answer.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: loop_contains_answer
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: loop
      id: 1755203854938-source-1755203872773-target
      source: '1755203854938'
      sourceHandle: source
      target: '1755203872773'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1755203872773'
        sourceType: loop-start
        targetType: assigner
      id: 1755203872773start-source-1755203898151-target
      source: 1755203872773start
      sourceHandle: source
      target: '1755203898151'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: answer
      id: 1755203872773-source-1755203915300-target
      source: '1755203872773'
      sourceHandle: source
      target: '1755203915300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1755203872773'
        sourceType: assigner
        targetType: answer
      id: 1755203898151-source-1755204039754-target
      source: '1755203898151'
      sourceHandle: source
      target: '1755204039754'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1755203854938'
      position:
        x: 30
        y: 312.5
      positionAbsolute:
        x: 30
        y: 312.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        break_conditions:
        - comparison_operator: ≥
          id: cd78b3ba-ad1d-4b73-8c8b-08391bb5ed46
          value: '2'
          varType: number
          variable_selector:
          - '1755203872773'
          - i
        desc: ''
        error_handle_mode: terminated
        height: 225
        logical_operator: and
        loop_count: 10
        loop_variables:
        - id: e163b557-327f-494f-be70-87bd15791168
          label: i
          value: '0'
          value_type: constant
          var_type: number
        selected: false
        start_node_id: 1755203872773start
        title: Loop
        type: loop
        width: 884
      height: 225
      id: '1755203872773'
      position:
        x: 334
        y: 312.5
      positionAbsolute:
        x: 334
        y: 312.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 884
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1755203872773start
      parentId: '1755203872773'
      position:
        x: 60
        y: 88.5
      positionAbsolute:
        x: 394
        y: 401
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        items:
        - input_type: constant
          operation: +=
          value: 1
          variable_selector:
          - '1755203872773'
          - i
          write_mode: over-write
        loop_id: '1755203872773'
        selected: false
        title: Variable Assigner
        type: assigner
        version: '2'
      height: 86
      id: '1755203898151'
      parentId: '1755203872773'
      position:
        x: 229.43200275622496
        y: 80.62650120584834
      positionAbsolute:
        x: 563.432002756225
        y: 393.12650120584834
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        answer: '{{#sys.query#}} + {{#1755203872773.i#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 123
      id: '1755203915300'
      position:
        x: 1278
        y: 312.5
      positionAbsolute:
        x: 1278
        y: 312.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1755203872773.i#}}

          '
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1755203872773'
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 105
      id: '1755204039754'
      parentId: '1755203872773'
      position:
        x: 574.7590072350902
        y: 71.35800068905621
      positionAbsolute:
        x: 908.7590072350902
        y: 383.8580006890562
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    viewport:
      x: -165.28002407881013
      y: 113.20590785323213
      zoom: 0.6291285886277216
