api/tests/fixtures/workflow/response_stream_filter_issue_170_workflow.yml
app:
  description: Response stream ordering fixture matching graphon issue 170.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: response_stream_filter_issue_170_workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
    - id: llm-dufu
      source: llm
      sourceHandle: source
      target: dufu
      targetHandle: target
    - id: dufu-answer
      source: dufu
      sourceHandle: source
      target: answer
      targetHandle: target
    nodes:
    - data:
        desc: ''
        title: Start
        type: start
        variables: []
      id: start
      position:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: Please output a poem by Li Bai
        selected: false
        title: Li Bai
        type: llm
        variables: []
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: Please output a poem by Du Fu
        selected: false
        title: Du Fu
        type: llm
        variables: []
        vision:
          enabled: false
      id: dufu
      position:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: |-
          # Du Fu

          {{#dufu.text#}}

          # Li Bai

          {{#llm.text#}}
        desc: ''
        title: Answer
        type: answer
        variables: []
      id: answer
      position:
        x: 980
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
