api/tests/fixtures/workflow/test_complex_branch.yml
app:
  description: "if sys.query == 'hello':\n    print(\"contains 'hello'\" + \"{{#llm.text#}}\"\
    )\nelse:\n    print(\"{{#llm.text#}}\")"
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: test_complex_branch
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.30@1f5ecdef108418a467e54da2dcf5de2cf22b47632abc8633194ac9fb96317ede
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1754336720803-source-1755502773326-target
      source: '1754336720803'
      sourceHandle: source
      target: '1755502773326'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1754336720803-source-1755502777322-target
      source: '1754336720803'
      sourceHandle: source
      target: '1755502777322'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1755502773326-true-1755502793218-target
      source: '1755502773326'
      sourceHandle: 'true'
      target: '1755502793218'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1755502773326-false-1755502801806-target
      source: '1755502773326'
      sourceHandle: 'false'
      target: '1755502801806'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1755502777322-source-1755502801806-target
      source: '1755502777322'
      sourceHandle: source
      target: '1755502801806'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1754336720803'
      position:
        x: 30
        y: 252.5
      positionAbsolute:
        x: 30
        y: 252.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: b3737f91-20e7-491e-92a7-54823d5edd92
            value: hello
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1755502773326'
      position:
        x: 334
        y: 252.5
      positionAbsolute:
        x: 334
        y: 252.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: chatgpt-4o-latest
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1755502777322'
      position:
        x: 334
        y: 483.6689693406501
      positionAbsolute:
        x: 334
        y: 483.6689693406501
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: contains 'hello'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: '1755502793218'
      position:
        x: 694.1985482199078
        y: 161.30990288845152
      positionAbsolute:
        x: 694.1985482199078
        y: 161.30990288845152
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1755502777322.text#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 105
      id: '1755502801806'
      position:
        x: 694.1985482199078
        y: 410.4655994626136
      positionAbsolute:
        x: 694.1985482199078
        y: 410.4655994626136
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 101.25550613189648
      y: -63.115847717334475
      zoom: 0.9430848603527678
