api/tests/fixtures/workflow/test_streaming_conversation_variables.yml
app:
  description: This chatflow assign sys.query to a conversation variable "str", then
    answer "str".
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: test_streaming_conversation_variables
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: ''
    id: e208ec58-4503-48a9-baf8-17aae67e5fa0
    name: str
    selector:
    - conversation
    - str
    value: default
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1755316734941-source-1755316749068-target
      source: '1755316734941'
      sourceHandle: source
      target: '1755316749068'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1755316749068-source-answer-target
      source: '1755316749068'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1755316734941'
      position:
        x: 30
        y: 253
      positionAbsolute:
        x: 30
        y: 253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#conversation.str#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 106
      id: answer
      position:
        x: 638
        y: 253
      positionAbsolute:
        x: 638
        y: 253
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - str
          write_mode: over-write
        selected: false
        title: Variable Assigner
        type: assigner
        version: '2'
      height: 86
      id: '1755316749068'
      position:
        x: 334
        y: 253
      positionAbsolute:
        x: 334
        y: 253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
