api/tests/fixtures/workflow/test_streaming_conversation_variables_v1_overwrite.yml
app:
  description: Validate v1 Variable Assigner blocks streaming until conversation variable is updated.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: test_streaming_conversation_variables_v1_overwrite
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 6ddf2d7f-3d1b-4bb0-9a5e-9b0c87c7b5e6
    name: conv_var
    selector:
    - conversation
    - conv_var
    value: default
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: start-source-assigner-target
      source: start
      sourceHandle: source
      target: assigner
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: assigner-source-answer-target
      source: assigner
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: start
      position:
        x: 30
        y: 253
      positionAbsolute:
        x: 30
        y: 253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 'Current Value Of `conv_var` is:{{#conversation.conv_var#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 106
      id: answer
      position:
        x: 638
        y: 253
      positionAbsolute:
        x: 638
        y: 253
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - conv_var
        desc: ''
        input_variable_selector:
        - sys
        - query
        selected: false
        title: Variable Assigner
        type: assigner
        write_mode: over-write
      height: 84
      id: assigner
      position:
        x: 334
        y: 253
      positionAbsolute:
        x: 334
        y: 253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
