workflows/ai-dance-video-seedance.yml
app:
  description: Enter a video theme, then let AI write the concept and generate a dance or motion video with Seedance.
  icon: 💃
  icon_background: '#E4FBCC'
  mode: workflow
  name: AI Dance Video (Seedance)
  use_icon_as_answer_icon: false
dependencies:
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/seedance
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-director
      source: start_node
      sourceHandle: source
      target: director_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: director-to-seedance
      source: director_llm
      sourceHandle: source
      target: seedance_generate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: seedance-to-end
      source: seedance_generate
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Video Description
          max_length: 2000
          options: []
          required: true
          type: text-input
          variable: description
        - label: First Frame Image URL (Optional)
          max_length: 2000
          options: []
          required: false
          type: text-input
          variable: first_frame_url
      height: 90
      id: start_node
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Optimize prompts for animated video shots
        title: Motion Director
        type: llm
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
        prompt_template:
        - role: system
          text: 'You are a dance/motion video director. Convert the user''s description into a detailed Seedance video prompt in English optimized for dynamic motion generation. Focus on:

            1. Character appearance and pose

            2. Dance/motion choreography

            3. Background environment

            4. Camera angles and movement

            5. Lighting and mood

            Output ONLY the prompt.

            '
        - role: user
          text: '{{#start_node.description#}}'
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: director_llm
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate video with Seedance
        title: Seedance Generation
        type: tool
        provider_id: acedatacloud/seedance
        provider_type: plugin
        provider_name: seedance
        tool_name: seedance_generate_video
        tool_label: Seedance Generate Video
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#director_llm.text#}}'
          first_frame_url:
            type: mixed
            value: '{{#start_node.first_frame_url#}}'
      height: 90
      id: seedance_generate
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - seedance_generate
          - data
          value_type: object
          variable: video_result
        - value_selector:
          - director_llm
          - text
          value_type: string
          variable: optimized_prompt
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
