workflows/ai-marketing-suite.yml
app:
  description: Enter a product or campaign concept and let AI automatically generate a complete marketing asset package with poster art, promo video, and background music.
  icon: 📢
  icon_background: '#FBE8FF'
  mode: workflow
  name: AI Marketing Asset Suite
  use_icon_as_answer_icon: false
dependencies:
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/flux
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/luma
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/suno
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-strategist
      source: start_node
      sourceHandle: source
      target: strategist_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: strategist-to-flux
      source: strategist_llm
      sourceHandle: source
      target: flux_poster
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: flux-to-luma
      source: flux_poster
      sourceHandle: source
      target: luma_promo_video
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: luma-to-suno
      source: luma_promo_video
      sourceHandle: source
      target: suno_bgm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: suno-to-assembler
      source: suno_bgm
      sourceHandle: source
      target: assembler_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: assembler-to-end
      source: assembler_llm
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Product / Campaign Name
          max_length: 200
          options: []
          required: true
          type: text-input
          variable: product_name
        - label: Detailed Description
          max_length: 2000
          options: []
          required: true
          type: text-input
          variable: product_description
        - label: Target Audience
          max_length: 500
          options: []
          required: false
          type: text-input
          variable: target_audience
      height: 90
      id: start_node
      position:
        x: 30
        y: 277
      positionAbsolute:
        x: 30
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Marketing Strategy Planning
        title: Marketing Strategist
        type: llm
        model:
          provider: openai
          name: gpt-4o
          mode: chat
        prompt_template:
        - role: system
          text: 'You are a senior marketing strategist. Based on the product/event info, create a complete marketing material plan.


            Output EXACTLY:

            POSTER_PROMPT: <detailed Flux image prompt for a marketing poster, cinematic, professional, 16:9>

            VIDEO_PROMPT: <motion description for a promotional video based on the poster>

            BGM_PROMPT: <music description for background music: upbeat/corporate/emotional, genre, tempo>

            HEADLINE: <catchy headline in Chinese>

            TAGLINE: <supporting tagline in Chinese>

            CTA: <call-to-action in Chinese>

            '
        - role: user
          text: 'Product name: {{#start_node.product_name#}}

            Detailed description: {{#start_node.product_description#}}

            Target audience: {{#start_node.target_audience#}}

            '
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: strategist_llm
      position:
        x: 334
        y: 277
      positionAbsolute:
        x: 334
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate promotional poster with Flux
        title: Promotional Poster
        type: tool
        provider_id: acedatacloud/flux
        provider_type: plugin
        provider_name: flux
        tool_name: flux_generate_image
        tool_label: Flux Generate Image
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#strategist_llm.text#}}'
          model:
            type: mixed
            value: flux-pro-1.1
          size:
            type: mixed
            value: 1920x1080
      height: 90
      id: flux_poster
      position:
        x: 638
        y: 177
      positionAbsolute:
        x: 638
        y: 177
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate promotional image-to-video with Luma
        title: Promotional Video
        type: tool
        provider_id: acedatacloud/luma
        provider_type: plugin
        provider_name: luma
        tool_name: luma_generate_video
        tool_label: Luma Generate Video
        tool_configurations: {}
        tool_parameters:
          action:
            type: mixed
            value: generate
          prompt:
            type: mixed
            value: '{{#strategist_llm.text#}}'
          aspect_ratio:
            type: mixed
            value: '16:9'
      height: 90
      id: luma_promo_video
      position:
        x: 638
        y: 327
      positionAbsolute:
        x: 638
        y: 327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate background music with Suno
        title: Background Music
        type: tool
        provider_id: acedatacloud/suno
        provider_type: plugin
        provider_name: suno
        tool_name: suno_generate_audios
        tool_label: Suno Generate Audios
        tool_configurations: {}
        tool_parameters:
          action:
            type: mixed
            value: generate
          prompt:
            type: mixed
            value: '{{#strategist_llm.text#}}'
          custom:
            type: mixed
            value: 'false'
          instrumental:
            type: mixed
            value: 'true'
      height: 90
      id: suno_bgm
      position:
        x: 638
        y: 477
      positionAbsolute:
        x: 638
        y: 477
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Assemble all marketing assets
        title: Asset Assembly
        type: llm
        model:
          provider: openai
          name: gpt-4o
          mode: chat
        prompt_template:
        - role: system
          text: 'You are a marketing package assembler. Present all generated marketing materials in a professional English report.


            Include:

            ## 📢 Marketing Asset Package - [Product Name]


            ### 1. Brand Copy

            - Main headline

            - Subtitle

            - Call to action


            ### 2. Promotional Poster

            - Display image URL


            ### 3. Promotional Video

            - Display video URL/ID


            ### 4. Background Music

            - Display audio URL


            ### 5. Usage Suggestions

            - Recommended scenarios for each asset


            Extract actual URLs from the tool results.

            '
        - role: user
          text: 'Product: {{#start_node.product_name#}}

            Strategy: {{#strategist_llm.text#}}

            Poster result: {{#flux_poster.text#}}

            Video result: {{#luma_promo_video.text#}}

            Music result: {{#suno_bgm.text#}}

            '
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: assembler_llm
      position:
        x: 942
        y: 327
      positionAbsolute:
        x: 942
        y: 327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - assembler_llm
          - text
          value_type: string
          variable: marketing_package
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 1246
        y: 327
      positionAbsolute:
        x: 1246
        y: 327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.6
