workflows/ai-video-sora.yml
app:
  description: Enter a text description and generate a high-quality AI video with Sora.
  icon: 🎥
  icon_background: '#FFEAD5'
  mode: workflow
  name: AI Video Generator (Sora)
  use_icon_as_answer_icon: false
dependencies:
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/sora
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-director
      source: start_node
      sourceHandle: source
      target: director_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: director-to-sora
      source: director_llm
      sourceHandle: source
      target: sora_generate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: sora-to-end
      source: sora_generate
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Video Description
          max_length: 2000
          options: []
          required: true
          type: text-input
          variable: description
        - label: Duration
          max_length: 10
          options:
          - '10'
          - '15'
          - '25'
          required: false
          type: select
          variable: duration
        - label: Quality
          max_length: 10
          options:
          - small
          - large
          required: false
          type: select
          variable: size
      height: 90
      id: start_node
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Turn the description into a professional video generation prompt
        title: Video Director
        type: llm
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
        prompt_template:
        - role: system
          text: 'You are an expert video director. Convert the user''s description into a detailed Sora video generation prompt in English. Include:

            1. Scene description with specific visual details

            2. Camera movement (tracking, pan, zoom, static, etc.)

            3. Lighting and atmosphere

            4. Motion and action descriptions

            5. Style reference

            Output ONLY the prompt text, nothing else.

            '
        - role: user
          text: '{{#start_node.description#}}'
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: director_llm
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate video with Sora
        title: Sora Generation
        type: tool
        provider_id: acedatacloud/sora
        provider_type: plugin
        provider_name: sora
        tool_name: sora_generate_video
        tool_label: Sora Generate Video
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#director_llm.text#}}'
          model:
            type: mixed
            value: sora-2
          duration:
            type: mixed
            value: '{{#start_node.duration#}}'
          size:
            type: mixed
            value: '{{#start_node.size#}}'
      height: 90
      id: sora_generate
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - sora_generate
          - data
          value_type: object
          variable: video_result
        - value_selector:
          - director_llm
          - text
          value_type: string
          variable: optimized_prompt
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
