workflows/creative-full-pipeline.yml
app:
  description: Enter a creative concept and let AI generate imagery, music, and copy together for one-stop content creation.
  icon: 🚀
  icon_background: '#FFF3CD'
  mode: workflow
  name: Creative Studio
  use_icon_as_answer_icon: false
dependencies:
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/midjourney
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/suno
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-planner
      source: start_node
      sourceHandle: source
      target: creative_planner
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: planner-to-mj
      source: creative_planner
      sourceHandle: source
      target: midjourney_image
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: mj-to-suno
      source: midjourney_image
      sourceHandle: source
      target: suno_music
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: suno-to-copywriter
      source: suno_music
      sourceHandle: source
      target: copywriter_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: copywriter-to-end
      source: copywriter_llm
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Creative Concept
          max_length: 2000
          options: []
          required: true
          type: text-input
          variable: concept
        - label: Purpose
          max_length: 200
          options:
          - Social Media Promotion
          - Brand Promotion
          - Product Launch
          - Event Poster
          - Personal Project
          required: false
          type: select
          variable: purpose
      height: 90
      id: start_node
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Plan the image prompt, music style, and copy direction
        title: Creative Director
        type: llm
        model:
          provider: openai
          name: gpt-4o
          mode: chat
        prompt_template:
        - role: system
          text: 'You are a creative director. Given a concept and purpose, plan three creative outputs:


            1. IMAGE: A Midjourney image prompt (English, detailed, include style, composition, lighting)

            2. MUSIC: A music description for Suno (genre, mood, tempo, instruments)

            3. COPY_DIRECTION: Brief direction for the copywriter (tone, key messages, CTA)


            Output EXACTLY:

            IMAGE_PROMPT: <midjourney prompt>

            MUSIC_PROMPT: <suno music description>

            MUSIC_STYLE: <comma-separated style tags for Suno>

            COPY_DIRECTION: <copywriting direction>

            '
        - role: user
          text: 'Creative concept: {{#start_node.concept#}}

            Purpose: {{#start_node.purpose#}}

            '
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: creative_planner
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate supporting image with Midjourney
        title: Image Generation
        type: tool
        provider_id: acedatacloud/midjourney
        provider_type: plugin
        provider_name: midjourney
        tool_name: midjourney_imagine
        tool_label: Midjourney Imagine
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#creative_planner.text#}}'
          mode:
            type: mixed
            value: fast
          translation:
            type: mixed
            value: 'false'
          split_images:
            type: mixed
            value: 'true'
      height: 90
      id: midjourney_image
      position:
        x: 638
        y: 127
      positionAbsolute:
        x: 638
        y: 127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate soundtrack with Suno
        title: Soundtrack Generation
        type: tool
        provider_id: acedatacloud/suno
        provider_type: plugin
        provider_name: suno
        tool_name: suno_generate_audios
        tool_label: Suno Generate Audios
        tool_configurations: {}
        tool_parameters:
          action:
            type: mixed
            value: generate
          prompt:
            type: mixed
            value: '{{#creative_planner.text#}}'
          custom:
            type: mixed
            value: 'false'
      height: 90
      id: suno_music
      position:
        x: 638
        y: 327
      positionAbsolute:
        x: 638
        y: 327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Generate copy based on the image and soundtrack
        title: Copywriter
        type: llm
        model:
          provider: openai
          name: gpt-4o
          mode: chat
        prompt_template:
        - role: system
          text: 'You are an expert copywriter. Based on the creative concept, generated image, and music, write compelling copy in English.


            Produce:

            1. **Main Headline** — A powerful headline (< 20 chars)

            2. **Subtitle** — A supporting tagline

            3. **Body Copy** — 2-3 paragraphs of engaging copy

            4. **Social Media Version** — Short version for social media (< 140 chars)

            5. **Hashtags** — 5 relevant hashtags


            Also present the generated assets:

            - Image URL from Midjourney result

            - Audio URL from Suno result


            Format everything in clean markdown.

            '
        - role: user
          text: 'Creative concept: {{#start_node.concept#}}

            Purpose: {{#start_node.purpose#}}

            Creative plan: {{#creative_planner.text#}}

            Image result: {{#midjourney_image.text#}}

            Music result: {{#suno_music.text#}}

            '
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: copywriter_llm
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - copywriter_llm
          - text
          value_type: string
          variable: creative_package
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 1246
        y: 227
      positionAbsolute:
        x: 1246
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
