workflows/image-engine-compare.yml
app:
  description: Enter a description and let AI generate images with Flux, Midjourney, Seedream, and NanoBanana at the same time so you can compare and pick the best result.
  icon: 🏆
  icon_background: '#D5F5F6'
  mode: workflow
  name: Four-Engine Image Comparison
  use_icon_as_answer_icon: false
dependencies:
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/flux
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/midjourney
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/nano-banana
- type: marketplace
  value:
    marketplace_plugin_unique_identifier: acedatacloud/seedream
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-optimizer
      source: start_node
      sourceHandle: source
      target: prompt_optimizer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: optimizer-to-flux
      source: prompt_optimizer
      sourceHandle: source
      target: flux_gen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: flux-to-mj
      source: flux_gen
      sourceHandle: source
      target: mj_gen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: mj-to-seedream
      source: mj_gen
      sourceHandle: source
      target: seedream_gen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: seedream-to-nano
      source: seedream_gen
      sourceHandle: source
      target: nano_gen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: nano-to-compare
      source: nano_gen
      sourceHandle: source
      target: compare_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: compare-to-end
      source: compare_llm
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Image Description
          max_length: 2000
          options: []
          required: true
          type: text-input
          variable: description
      height: 90
      id: start_node
      position:
        x: 30
        y: 277
      positionAbsolute:
        x: 30
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Optimize Prompt
        title: Prompt Optimization
        type: llm
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
        prompt_template:
        - role: system
          text: 'You are a prompt engineer. Convert the description into a detailed English image generation prompt suitable for multiple AI engines. Be specific about subject, composition, lighting, style,
            colors, mood. Output ONLY the prompt.

            '
        - role: user
          text: '{{#start_node.description#}}'
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: prompt_optimizer
      position:
        x: 334
        y: 277
      positionAbsolute:
        x: 334
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Flux Pro 1.1
        title: Flux
        type: tool
        provider_id: acedatacloud/flux
        provider_type: plugin
        provider_name: flux
        tool_name: flux_generate_image
        tool_label: Flux Generate Image
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#prompt_optimizer.text#}}'
          model:
            type: mixed
            value: flux-pro-1.1
      height: 90
      id: flux_gen
      position:
        x: 638
        y: 127
      positionAbsolute:
        x: 638
        y: 127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Midjourney
        title: Midjourney
        type: tool
        provider_id: acedatacloud/midjourney
        provider_type: plugin
        provider_name: midjourney
        tool_name: midjourney_imagine
        tool_label: Midjourney Imagine
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#prompt_optimizer.text#}}'
          mode:
            type: mixed
            value: fast
          split_images:
            type: mixed
            value: 'true'
      height: 90
      id: mj_gen
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Seedream
        title: Seedream
        type: tool
        provider_id: acedatacloud/seedream
        provider_type: plugin
        provider_name: seedream
        tool_name: seedream_generate_image
        tool_label: Seedream Generate Image
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#prompt_optimizer.text#}}'
          size:
            type: mixed
            value: 2K
      height: 90
      id: seedream_gen
      position:
        x: 638
        y: 327
      positionAbsolute:
        x: 638
        y: 327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: NanoBanana
        title: NanoBanana
        type: tool
        provider_id: acedatacloud/nano-banana
        provider_type: plugin
        provider_name: nano-banana
        tool_name: nano_banana_generate_image
        tool_label: Nano Banana Generate Image
        tool_configurations: {}
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#prompt_optimizer.text#}}'
          aspect_ratio:
            type: mixed
            value: '16:9'
      height: 90
      id: nano_gen
      position:
        x: 638
        y: 427
      positionAbsolute:
        x: 638
        y: 427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Compare the results from four image engines
        title: Result Comparison
        type: llm
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
        prompt_template:
        - role: system
          text: 'Present a comparison of 4 AI image generation engines in Chinese markdown.

            For each engine, extract the image URL from the result and display it.

            Create a comparison table with columns: Engine | Image | Strengths | Style.

            Give a final recommendation based on the results.

            '
        - role: user
          text: 'Prompt: {{#prompt_optimizer.text#}}

            Flux result: {{#flux_gen.text#}}

            Midjourney result: {{#mj_gen.text#}}

            Seedream result: {{#seedream_gen.text#}}

            NanoBanana result: {{#nano_gen.text#}}

            '
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: compare_llm
      position:
        x: 942
        y: 277
      positionAbsolute:
        x: 942
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - compare_llm
          - text
          value_type: string
          variable: comparison
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 1246
        y: 277
      positionAbsolute:
        x: 1246
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.6
